*.egg-info
*.pyc
.pybuild
__pycache__
build

# https://github.com/phusion/debian-packaging-for-the-modern-developer/blob/master/.gitignore
debhelper-build-stamp
.DS_Store
.debhelper
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.log
*.substvars
.vagrant
debian/hello
debian/files
debian/vpngate-client/
